.news-slider {
  padding: 107px 0 40px 0;

  .news-slider__items {
    .news-slider__item {
      font-family: Helvetica;
      color: #373535;
      width: 50%;

      .news-slider-item__date {
        font-family: Helvetica-Light;
        font-size: 14px;
        line-height: 22px;
      }

      .news-slider-item__title {
        font-size: 20px;
        line-height: 28px;
        font-weight: bold;
        margin: 7.6px 0 34.14px 0;
      }

      .news-slider-item__content {
        font-size: 16px;
        line-height: 24px;
        margin: 0 0 20px 0;
      }

      .news-slider-item__link {
        background-image: url("../images/arrow.svg");
        background-position: right;
        background-repeat: no-repeat;
        padding-right: 30px;
      }
    }
  }

  .news-slider__progress {
    background-color: #bbdde7;
    margin: 71px 0 0 0;

    .js-news-slider__progress {
      height: 4px;
      width: 0;
      background: $secondary-colour;
    }
  }
}

.flickity-page-dots {
  bottom: -40px;
}

.flickity-viewport {
  overflow: visible;
}

.flickity-button {
  background: none;
  width: 62px;
  height: 62px;
  background-size: 62px;
  opacity: 0.6;
  transition: width 2s;
  top: 172px;

  .flickity-button-icon {
    display: none;
  }

  .arrow {
    fill: #b32d2d;
  }

  .no-svg {
    color: white;
  }

  &:disabled {
    display: none;
  }

  &.previous {
    background-image: url("../images/arrow-radius-left.svg");

    &:hover {
      width: 62px;
      height: 62px;
      background-size: 62px;
      background-image: url("../images/arrow-radius-left.svg");
      background-color: transparent;
      opacity: 1;
    }
  }

  &.next {
    background-image: url("../images/arrow-radius-right.svg");

    &:hover {
      width: 62px;
      height: 62px;
      background-size: 62px;
      background-image: url("../images/arrow-radius-right.svg");
      background-color: transparent;
      opacity: 1;
    }
  }
}

