.header {
  padding: 83px 0;

  .header__title {
    padding: 0 0 44px 0;
    font-size: 20px;
  }

  .header__logo {
    padding: 69px 0;

    img {
      width: 207.44px;
      height: 54.46px;
    }
  }

  .header__slogan {
    text-align: center;
    width: 80%;

    h2 {
      font-family: Helvetica;
      font-size: 40px;
      color: #373535;
      line-height: 52px;

      &:before {
        content: '“';
        color: $secondary-colour;
        padding-right: 10px;
      }

      &:after {
        content: '”';
        color: $secondary-colour;
        padding-right: 10px;
      }
    }
  }
}

.nested-section {
  padding-top: 55px;

  .nested-section__row {
    background-image: url(./images/home/where-to-find.png);
    background-position: calc(100% - -15px);
    background-size: 50%;
    background-repeat: no-repeat;

    &.left {
      background-position: calc(0% - 15px);

      .nested-section__content {
        margin-left: 30px;
      }
    }

    &:first-child {
      padding-bottom: 90px;
    }

    &:not(:first-child) {
      margin-top: -90px;
      padding-top: 70px;
    }
  }

  .nested-section__content {
    padding-top: 102px;
    padding-bottom: 102px;

    h3 {
      font-size: 20px;
      padding-bottom: 14px;
    }

    h2 {
      border-left: 5px solid $secondary-colour;
      font-size: 40px;
      padding-left: 20px;
      font-weight: 600;
      margin-left: -30px;
    }

    p {
      font-size: 16px;
      line-height: 24px;
      padding-top: 14px;
      width: 90%;
    }

  }

  .nested-section__content--footer {
    padding-top: 43px;
    font-size: 16px;
    color: #373535;
    line-height: 29px;

    p {
      span {
        width: 65px;
        display: inline-block;
      }
    }

    a {
      //border-bottom: 1px solid $secondary-colour;
      padding-bottom: 3px;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        height: 1.5px;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $secondary-colour;
        transform-origin: bottom left;
        transform: scaleX(1);
        transition: transform .3s ease-in-out;
      }

      &:hover:after {
        transform: scaleX(0);
        transform-origin: bottom right;
      }
    }
  }
}
