.header {
  background-color: #F2F2F2;

  .header__title {
    padding: 20px 0;
  }

  .header__logo {
    padding: 69px 0;

    img {
      width: 207.44px;
      height: 54.46px;
    }
  }

  .header__slogan {
    text-align: center;

    h2 {
      font-family: Helvetica;
      font-size: 40px;
      color: #373535;
      line-height: 52px;

      &:before {
        content: '“';
        color: #00ACCD;
      }

      &:after {
        content: '”';
        color: #00ACCD;
      }
    }
  }
}
