html {
    box-sizing: border-box;
    font-size: 62.5%;
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: $font-family;
    color: $text-colour;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: visible;
    font-size: $font-size-base;
    background-color: $white;
}

p {
    line-height: $line-height-base;
    font-family: $font-family;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-family;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: $text-colour;
    text-decoration: none;
}

.auto-margin{
  margin-top: auto;
  margin-bottom: auto;
}